* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 95%;
}

.inputs-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.inputs-container .inputs {
  display: inline;
  font-weight: bold;
}

.inputs-container input {
  width: 5rem;
  margin-right: 10px;
  padding: 4px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  text-align: center;
}

.inputs-container .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.inputs-container .buttons button {
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid #2a8fb0;
  color: #2a8fb0;
  background-color: #f9f9f9;
  outline: none;
  box-shadow: 0 0 4px 1px #d4d4d4;
  cursor: pointer;
  margin-left: 5px;
}

.inputs-container .buttons button:active {
  border: 2px solid #2b8fb1e6;
  color: #2b8fb1e6;
  box-shadow: 0 0 0 0 #d4d4d4;
}

.inputs-container .buttons #launch {
  border: none;
  color: #fff;
  background-color: #2a8fb0;
}

.inputs-container .buttons #launch:active {
  background-color: #2b8fb1e6;
}

.inputs-container .buttons #launch:disabled {
  background-color: #2b8fb080;
  cursor: default;
  box-shadow: 0 0 4px 1px #d4d4d4;
}

.box {
  position: relative;
  width: 50rem;
  height: 30rem;
  background-color: #add8e6;
  box-shadow: 0 0 8px 5px #d4d4d4;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 100%;
  z-index: -1;
}

.grass {
  background-color: #27b727;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: -1;
}
